exportPattern("^[[:alpha:]]+")
import(parallel)
import(doParallel)
importFrom("utils", "combn", "head")
import(Matrix)
importFrom("geometry","convhulln")
importFrom("inflection", "ede")
importFrom("lpSolve", "lp.assign")
importFrom("grDevices", "chull", "dev.off", "pdf")
importFrom("graphics", "abline", "axis", "grid", "plot", "text")
importFrom("methods", "as")
importFrom("stats", "aggregate", "dist", "runif","rexp")
export(align_archetypes_from_list)
export(archetypal)
export(find_optimal_kappas)
export(find_outmost_convexhull_points)
export(find_outmost_partitioned_convexhull_points)
export(find_furthestsum_points)
export(find_outmost_points)
export(find_outmost_projected_convexhull_points)
export(FurthestSum)
export(grouped_resample)
export(dirichlet_sample)